.result__item_image {
    margin-bottom: 20px;
    height: 272px;
    object-fit: contain;
}

@media all and (max-width : 800px) {
    .result__item_image {
        height: 150px;
        margin-bottom: 15px;
    }
}