.result__item_text {
    margin: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; 
    display: -webkit-box;
    overflow: hidden;
}


@media all and (max-width : 800px) {
    .result__item_text {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
}