.header__name {
color: #FFFFFF;
/* border: 1px solid red; */
font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
margin: 0px;
margin-bottom: 26px;
}

@media all and (max-width : 425px) {
    .header__name {
        font-size: 16px;
        margin-bottom: 14px;
    }
}