.result__title {
    margin: 0px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
}

@media all and (max-width : 800px) {
    .result__title {
        font-size: 30px;
        line-height: 34px;
    }
}
@media all and (max-width : 462px) {
    .result__title {
        width: 288px;
        margin-bottom: 16px;
    }
}