.answer__subtitle {
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 80px;
}
@media all and (max-width : 800px) {
    .answer__subtitle {
        margin-bottom: 64px;
    }
}
@media all and (max-width : 400px) {
    .answer__subtitle {
        display: none;
    }
}