.about-author__textcontainer_title {
    font-size: 40px;
    line-height: 46px;
    font-weight: normal;
    margin: 0px;
    margin-bottom: 24px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
}
@media all and (max-width : 800px) {
    .about-author__textcontainer_title {
        margin-bottom: 16px;
        font-size: 30px;
        line-height: 40px;
    }
}
