@import url(./__author/swiper-slide__author.css);
@import url(./__date/swiper-slide__date.css);
@import url(./__image/swiper-slide__image.css);
@import url(./__mail/swiper-slide__mail.css);
@import url(./__text/swiper-slide__text.css);



.swiper-slide {
        cursor: pointer;
        width: 352px;
        height: 240px;
        background: #FFFFFF;
        border-radius: 16px;
        margin-right: 16px;
        padding: 24px;
        /* flex-shrink: 0; */
        z-index: 1;
        position: relative;
        /* transition: opacity 1s ease-in; */
        /* opacity: 0; */
        /* box-shadow: inset 88px 0px 44px -40px rgba(9,26,43,1); */
        
    }

    @media all and (max-width : 800px) {
        .swiper-slide {
            width: 288px;
            height: 192px;
            margin-right: 8px;
        }
    }
    @media all and (max-width : 400px) {
        .swiper-slide {
            width: 240px;
            height: 216px;
        }
    }