@import url(./__item/digital__item.css);


.digital {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
@media all and (max-width : 400px) {
    .digital { 
        display: none;
    }
}