

.header__menu {
    margin: 0px;
    padding: 0px;
    padding-bottom: 24px;
    text-align: right;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;

    
}
.header__menu:last-child {
    margin-right: 0px;
    margin-left: 34px;
}


@media all and (max-width : 425px) {
    .header__menu {
        font-size: 16px;
        padding-bottom: 14px;
    }
    .header__menu:last-child {
        margin-left: 11px;
    }
}