
.swiper-slide__text {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
}


@media all and (max-width : 800px) {
    .swiper-slide__text {
        line-clamp: 4;
    }
}
@media all and (max-width : 400px) {
    .swiper-slide__text {

    }
}