.swiper-slide__image {
    border-radius: 50%;
    width: 64px;
    float: left;
    margin-right: 16px;
    margin-bottom: 11px;
}
@media all and (max-width : 400px) {
    .swiper-slide__image {
        margin-right: 12px;
    }
}