.history__container {
    display: flex;
    position: relative;
    justify-content: space-between;
    overflow: hidden;
    z-index: 5;
    width: auto;
    
}


@media all and (max-width : 800px) {
    .history__container {
        margin-left: 20px;
    }
}

